.button-nav {
  color: $border-gray;

  &:focus {
    box-shadow: none;
  }
}

.button-nav.button-to-top {
  position: fixed;
  right: 0;
  top: 50%;

  &:focus {
    box-shadow: none;
  }
}

.button-group .button-nav {
  padding: 0 0.3rem;
}
