.lyrix-list {
  list-style: none;
  padding-left: 0;
  font-family: $font-list-item;
}

.lyrix-list.empty {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $border-gray;
}

.lyrix-list-item {
  i {
    color: $border-gray;
    margin-right: 0.5rem;
  }

  text-align: start;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-top: 1px solid $list-gray;
  border-bottom: 1px solid $list-gray;
  margin: 0 0.2rem;
  background-color: $bg-beige;
}

.lyrix-list-item.list-group-item {
  border-radius: 0;
  border-left: none;
  border-right: none;

  &:active {
    background-color: $primary;
    color: #fff;
  }
}

.lyrix-list-item.multi-line {
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;

  .content-multi-lines {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.4rem;
  }
}

.lyrix-list-item .content-secondary {
  color: $border-gray;
  font-style: italic;
}

.numbered-disc-bullet {
  background-color: $list-gray;
  border-radius: 50%;
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 1.5rem;
}

.song-item-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.song-item-row .lyrix-icon {
  color: $border-gray;
  margin-right: 0.5rem;
}


.song-item-row .info {
  display: flex;

  .song-item-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.song-importer-results-buttons {
  width: 100%;

  .lyrix-list-item {
    border-radius: 0;
    padding: 0.5rem;
  }

  .lyrix-list-item.active {
    border: none;
    background-color: $primary;
    color: #fff;
  }
}
