.home-page {
  background-color: $bg-colorful;
  min-height: 100%;
  display: flex;
  overflow: auto;
}

.menu-title {
  background-color: $fg-prominent;
  margin-top: 1.3em;
  color: $fg-colorful;
  font-family: $font-title;
  font-style: italic;
  text-shadow: 1px 0 1px $darker-gray;
  font-size: 2rem;
  text-align: center;
}

.menu-buttons {
  height: 100%;
  display: grid;
  flex-direction: column;
  padding: 0 5%;

  grid-template-columns: 1fr;
  padding: 10px;
  margin: 0 5%;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
  align-content: center;
}

// Handle small+ screens
@media (min-width: 400px) {
  .menu-buttons {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 0;
  }
}

.menu-buttons .menu-button {
  background-color: $fg-colorful-complement;
  border-color: $fg-colorful-complement;
  color: $darker-gray;
  box-shadow: 1px 3px 4px $darker-gray;
  // padding-inline: 1.5em;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button .lyrix-icon {
  margin-right: 6%;
}

.menu-button {
  font-family: $font-title;
}

.menu-button-arrange {
  font-family: 'Reenie Beanie', cursive;
}

.menu-button-practice {
  font-family: 'Sacramento', cursive;
}


// Handle medium+ screens
@media (min-width: 576px) {
  .page-content .home-page, .page-content .menu-title {
    padding: 0 30%;
  }
}
