.lyrix-navbar {
  justify-content: flex-end;
  background-color: $light-gray;
  color: $primary;
  font-family: $font-title;
  padding: 0.5rem;
  box-shadow: 0 3px 15px darkgray;
  flex-wrap: wrap;

  &.collapsed {
    height: $navbar-height;
    flex-wrap: nowrap;
    // transition: height 3s;
  }

  .navbar-brand {
    color: $primary;
    margin: 0;
  }
}

#lyrix-navbar-more.collapsing {
  // .nav-link, .horizontal-divider {
    // display: none;
  // }
  transition: 0s !important;
}

.lyrix-navbar .navbar-title {
  text-align: center;
  white-space: normal;
  font-size: 1.5rem;
  width: 100%;
  margin-right: 0.3rem;
  overflow-wrap: anywhere;
  overflow: scroll;
}

.lyrix-navbar .horizontal-divider {
  @extend .dropdown-divider;
  border-top-color: $border-gray;
}

.beneath-nav {
  max-height: 100vh - $navbar-height !important;
  margin-top: $navbar-height;
}

.mobile-header {
  text-align: center;
  background-color: #ccc;
  color: $primary;
  font-family: $font-title;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: [first] 2fr 6fr [last] 2fr;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 3px 15px darkgray;
  min-height: 3em;
  align-items: flex-start;

  h1 {
    font-size: 1.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.song-item-page .title .content-secondary {
  font-style: italic;
  font-size: smaller;
}

.mobile-header .title .lyrix-icon {
  font-size: 1.1rem;
  vertical-align: top;
  margin-top: 0.35rem;
}
