.song-text {
  white-space: pre-wrap;
  hyphens: auto;
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding-bottom: 50%;
  font-family: $font-text;
}

.song-item-text-display {
  font-family: $font-monospace;
  white-space: pre;
  padding: 0.5rem;
}

textarea.song-item-text-box {
  font-size: 1.2rem;
  font-family: $font-monospace;
  height: 40vh !important;
}
