.song-text {
  white-space: pre-wrap;
  hyphens: auto;
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding-bottom: 50%;
  font-family: 'Sanchez', serif;
}

.song-item-text-box {
  font-size: 1.2rem;
  font-family: 'Ubuntu Mono', monospace;
}
