.list-page, .text-page {
  background-color: $bg-beige;
  overflow: scroll;
  min-height: 100vh;
}

.list-page {
  position: relative;
}

.mobile-header {
  margin-top: 1rem;
  text-align: center;
  background-color: #ccc;
  color: #9656A1;
  font-family: 'Sanchez', serif;
  padding: 0.1rem;
  display: grid;
  grid-template-columns: [first] 1fr 8fr [last] 1fr;
  justify-content: flex-start;

  h1 {
    font-size: 1.5rem;
  }
}