html {
  scroll-behavior: smooth;
}

.list-page, .text-page {
  background-color: $bg-beige;
  overflow: scroll;
  min-height: 100vh;
}

.list-page {
  position: relative;
}

.mobile-header {
  margin-top: 1rem;
  text-align: center;
  background-color: #ccc;
  color: $primary;
  font-family: 'Sanchez', serif;
  padding: 0.1rem;
  display: grid;
  grid-template-columns: [first] 2fr 6fr [last] 2fr;
  justify-content: flex-start;

  h1 {
    font-size: 1.5rem;
  }
}